/*

###    COLORS    ###

    ### FRONTEND ###
    I.      #65a591
    II.     #5a8e7d
    III.     #486e5f

    ### BACKEND ###
    Footer      #363636
    Footer 2    #262626

    ____             _____  ______   __  __   ____   _____   _    _  _       ______
   |  _ \    /\     / ____||  ____| |  \/  | / __ \ |  __ \ | |  | || |     |  ____|
   | |_) |  /  \   | (___  | |__    | \  / || |  | || |  | || |  | || |     | |__
   |  _ <  / /\ \   \___ \ |  __|   | |\/| || |  | || |  | || |  | || |     |  __|
   | |_) |/ ____ \  ____) || |____  | |  | || |__| || |__| || |__| || |____ | |____
   |____//_/    \_\|_____/ |______| |_|  |_| \____/ |_____/  \____/ |______||______|



*/

* {
    font-family: 'Roboto', Helvetica, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    position: relative;
    /*height: 100%;*/
}
.body {
    margin: 0;
}
p {
    /*font-size: 2.8vmin;*/
    font-weight: 100;
    line-height: 6vh;
}
a {
    color: inherit;
    /*display: inline-block;*/
}
.main h2, .landingpage_headline {
    font-size: 8vw;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.landingpage_headline {
    padding-top: 1em;
}

/*     ### HEADLINES HOME ###    */

/*    ## sections h3 - every H inside section => inside section h4 ##    */

.main h3, .main h4  {
    font-size: 2em;
    font-weight: 200;
    padding: 1.65em 0;
    text-align: center;

}
.main #about_us h3{
  padding:2.5em 0 1.5em;
}

/*    ## inside sections ##    */

.main h4 {
    font-size: 1.5em;
}

/*    ## courses ##    */

.main h5 {
    font-size: 4vmin;
    font-weight: 300;
    text-align: right;
    padding: 0.5em 0;
    text-transform: uppercase;
}

/*    ## employees ##    */
.main h6 {
    font-size: 3.2vmin;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.light {
    font-weight: lighter;
}




/* Landing Page */

.landingpage {
    position: relative;
    z-index: 200;
    height: 100vh;
    background-image: url(../img/landingpage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    top: 0;
}

/* Header */

.header {
    z-index: 500;
    display: flex;
    width: 100%;
    height: 120px;
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: calc(100vh - 100px);
}

.header .logo, .header .cart {
    visibility: hidden;
    transition: all 0.8s ease-in-out;
}

.header.fixed .logo, .header.fixed .cart, .header.header_no_landingpage .logo, .header.header_no_landingpage .cart {
  visibility: visible;
}

.header.fixed, .header.header_no_landingpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000;
}

.header.tiny {

    height: 60px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px #eee;
}

.logo, .cart {
    width: 60px;
    height: 50px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
}
.logo {
    margin-left: 10px;
    background-image: url(../img/logo.svg);
    background-size: cover;
}
.cart {
    transition: 0.3s;
    background-image: url(../img/shop-images/cart.svg);
    background-size: contain;
}
.cart a {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}
.cart:hover {
    transform: scale(1.2);
}
.cart-header {

    width: 220px;
    position: absolute;
    right: 21%;
    top: 60px;
    text-align: center;
    display:none;
    background-color:white;
    border:1px solid #ddd;

}
.cart-header span, p{
    line-height:50px;
}
.cart-header img{
    width:50px;
    height:50px;
}
.cart-header-item {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
    padding:0 20px 0 0;

}
.cart-header-name {
    margin-left:-15px;
}
.cart span {
    background-color: #65a591;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
    margin-top: -47px;
    line-height: 20px;
    padding-left: 1px;
    text-align: center;
    text-indent: initial;
    font-size: 11px;
}
.nav li:last-child:before {
    visibility: hidden;
}
.logo a, .cart a {
    display: block;
    height: 100%;
}
.nav ul {
    display: flex;
    align-items: center;
    text-align: center;
}
.nav ul li {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    font-weight: 300;
    min-width: 110px;
    max-width: 200px;
    text-align: center;
    margin: 0 0.5em;

}
.nav ul li.cart, .nav ul li:last-child{
  min-width:auto;
}
.nav ul li a {
    padding: 1em 2em;
    display: block;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 1px #656565;
}
.nav ul li.cart a, .nav ul li:last-child a{
  padding:0;
}
.nav ul li a:hover {
    color: #fff;
    background-color: #65a591;
    text-shadow: none;
}

 .nav ul li.cart a:hover{
  background-color: transparent !important;
}
.fixed .nav ul li a, .header_no_landingpage .nav ul li a{
  text-shadow: none;
}
.tiny .nav ul li a{
  text-shadow: none;
}

.logout {
    font-size: 200% !important;
    color: #5a8e7d;
    margin-right: 10px;
}
.nav ul li:last-child a:hover{
  /*font-size: 120%*/
  background-color: transparent;
  text-shadow: none;
}
ul li a:hover i.logout{
  color: #486e5f;
}
ul li a:hover i.logout{
  color: #486e5f;
}

.active_nav {
    color: #fff;
    background-color: #65a591;
}

.cart a {
    display: block;
    box-sizing: content-box;
    padding: 0 20px;
}





/*     ### CONTENT WRAPPER MAIN ###    */


.content-wrapper {
    position: relative;
    z-index: 50;
    padding: 110px 5em 5em;
    background-color: #fff;
    text-align: center;
}

.footer-content p {
  font-weight: 300;
}

.footer-content h2 {
color: #65a591;
margin-bottom: 1.25em;
font-size: 2em;
font-weight: 400;
}

.content-wrapper.footer-content h3 {
  color: #65a591;
  font-size: 1.25em;
  font-weight: 300;
  text-align: left;
  width: 100%;
  margin: 0;
  text-transform: none;
}
.content-wrapper h2 {
    font-size: 2em;
    font-weight: 300;
    padding: 1vw 0vw;
    margin: 0 35vw;
    text-align: center;
    text-transform: uppercase;
}

.content-wrapper h3 {
  margin: 2em 0;

  font-size: 1.2em;
  font-weight: 300;
  padding: 2vw 0;
}
.content-wrapper p {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify;
}

/*#############################################################
#############################################################

__  __          _____ _   _
|  \/  |   /\   |_   _| \ | |
| \  / |  /  \    | | |  \| |
| |\/| | / /\ \   | | | . ` |
| |  | |/ ____ \ _| |_| |\  |
|_|  |_/_/    \_\_____|_| \_|


#############################################################
#############################################################*/

main {
    position: relative;
    z-index: 100;
    padding: 80px 0;
    background-color: white;
}

/*#############################################################
#############################################################

_   _ ____  ______ _____    _    _ _   _  _____
(_) (_)  _ \|  ____|  __ \  | |  | | \ | |/ ____|
| | | | |_) | |__  | |__) | | |  | |  \| | (___
| | | |  _ <|  __| |  _  /  | |  | | . ` |\___ \
| |_| | |_) | |____| | \ \  | |__| | |\  |____) |
\___/|____/|______|_|  \_\  \____/|_| \_|_____/


#############################################################
#############################################################*/

.about_us {
    padding: 0 10vw;
    text-align: center;
}


.about_us p{
  font-size: 2.5vmin;
  line-height: 8vmin;
}
/*Mitarbeiter*/

.employees_main {
  padding: 0 2em;
}

.employees_main-info {
    line-height: 2;
    display: flex;
    padding: 1em;
    align-items: flex-end;
}
.employees_main p {
    padding: 0 3em;
    line-height: 5vmin;
    text-align: justify;
    font-size: 2.5vmin;
    font-weight: 300;
}
.employees_main li {
    text-align: center;
    flex-wrap: wrap;
}
.employees_main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vmin;
}
.employees_main ul:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.employees_main li:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: center;
}
.employees_main ul:nth-child(2n) h2 {
    text-align: right;
}
.employees_main img {
    width: 13vw;
    border-radius: 50%;
}

/*#############################################################
#############################################################

_____  _____            _      _               __   _______ _   _  _____
|  __ \|  __ \     /\   | |    | |        /\    \ \ / /_   _| \ | |/ ____|
| |__) | |__) |   /  \  | |    | |       /  \    \ V /  | | |  \| | |  __
|  ___/|  _  /   / /\ \ | |    | |      / /\ \    > <   | | | . ` | | |_ |
| |    | | \ \  / ____ \| |____| |____ / ____ \  / . \ _| |_| |\  | |__| |
|_|    |_|  \_\/_/    \_\______|______/_/    \_\/_/ \_\_____|_| \_|\_____|


#############################################################
#############################################################*/

.parallax {
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.parallax1 {
    background-image: url(../img/parallax/studio.jpg);
}
.parallax2 {
    background-image: url(../img/parallax/beach.jpg);
}
.parallax_textoverlay {
    line-height: 700px;
}

/*#############################################################
#############################################################

_  ___    _ _____   _____ ______
| |/ / |  | |  __ \ / ____|  ____|
| ' /| |  | | |__) | (___ | |__
|  < | |  | |  _  / \___ \|  __|
| . \| |__| | | \ \ ____) | |____
|_|\_\\____/|_|  \_\_____/|______|


#############################################################
#############################################################*/

.courses_main p {
    text-align: justify;
    font-weight: 300;
}
.courses_main-all {
    padding-bottom: 4em;
}
.courses_main-all ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses_main-all ul li {
    flex-basis: 80%;
    margin: 0.3vw;
}



.courses_main-all img {
    width: 20%;
}


/*.section_main{
  padding-top: 50px;
}*/


/*#############################################################
#############################################################

_____         _      ______   _____  _____   ____  _____  _    _  _____ _______ _____
/ ____|  /\   | |    |  ____| |  __ \|  __ \ / __ \|  __ \| |  | |/ ____|__   __/ ____|
| (___   /  \  | |    | |__    | |__) | |__) | |  | | |  | | |  | | |       | | | (___
\___ \ / /\ \ | |    |  __|   |  ___/|  _  /| |  | | |  | | |  | | |       | |  \___ \
____) / ____ \| |____| |____  | |    | | \ \| |__| | |__| | |__| | |____   | |  ____) |
|_____/_/    \_\______|______| |_|    |_|  \_\\____/|_____/ \____/ \_____|  |_| |_____/


#############################################################
#############################################################*/
.saleproducts_main {
  height: calc( 100vh - 60px );
}

.wrapper_saleproducts_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em;

}


.product {
    margin: 2em;
    position: relative;
    overflow: hidden;
    height: 250px;
    flex-basis: 25%;
    max-width: 220px;
    min-width: 100px;
}
.product-main {
    margin: 10px 100px;
}
.product-img li {
    width: 200px;
    height: 300px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    background-position: center;
    background-size: contain;

}

.product-img img {
    width: 220px;
    height: auto;
    background-color: #f7f8fa;

}

.product-img li:hover {
    transform: scale(1);
}
.info {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 0;
    transition: all 0.6s ease-in-out;
    justify-content: space-around;

}
.overlay {
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-align: center;
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
}
.overlay h1 {
    font-weight: 500;
    margin-top: 10px;
}
.line-wrapper_shop .overlay p {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 15px;
}
.product:hover .overlay {
    top: 150px;
    opacity: 1;
}
.product:hover .info {
    transform: scale(0);
    opacity: 0;
}
.colors {
    display: flex;
    justify-content: center;
}
.colors li {
    width: 15px;
    height: 15px;
    margin: 0 6px;
    transition: all 0.2s ease-in-out;
    color:white;
}

.colors .out {
    opacity:0.3;
}
/*.colors li:first-child {
    background-color: black;
}
.colors li:nth-child(2) {
    background-color: white;
}
.colors li:nth-child(3) {
    background-color: #7a3b51;
}*/
.colors li:hover {
    transform: scale(1.1);
}

/*#############################################################
#############################################################

_____ ____  _   _ _______       _____ _______
/ ____/ __ \| \ | |__   __|/\   / ____|__   __|
| |   | |  | |  \| |  | |  /  \ | |       | |
| |   | |  | | . ` |  | | / /\ \| |       | |
| |___| |__| | |\  |  | |/ ____ \ |____   | |
\_____\____/|_| \_|  |_/_/    \_\_____|  |_|


#############################################################
#############################################################*/

.contact_main {
    text-align: center;
    line-height: 2;
}
#map {
    height: 400px;
    width: 100%;
    margin: auto;
}
.socialmedia_main {
    height: 40vh;
}
.socialmedia_main ul {
    display: flex;
    justify-content: space-around;
}
.instagram {
    color: blue;
}
.youtube {
    color: red;
}

/*#############################################################
#############################################################

______ ____  _____  __  __
|  ____/ __ \|  __ \|  \/  |
| |__ | |  | | |__) | \  / |
|  __|| |  | |  _  /| |\/| |
| |   | |__| | | \ \| |  | |
|_|    \____/|_|  \_\_|  |_|


#############################################################
#############################################################*/

.contactform_main {
   min-width: 200px;
   text-align: center;

}
.form_main {
    display: block;
    width: 40%;
    margin: 4em auto;
    min-width: 200px;
    max-width: 500px;
}

.btn {
    margin: 5em auto;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 200;
    max-width: 300px;
    min-width: 200px;
    cursor: pointer;
}
.btn a {
    display: block;
    padding: 1em 2em;
    background-color: #65a591;
    color: #fff;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;

}
.btn a:hover {
    background-color: #ffffff;
    color: #65a591;
    border: 1px solid #65a591;
}

.btn .input {
 letter-spacing: 1.8px;
 font-weight: 200;
 font-size: 0.9em;
 border: none;
 padding: 1em 2em;
 text-transform: uppercase;
 background-color: #65a591;
 color: #fff;
 border: 1px solid #fff;
 transition: all 0.3s ease-in-out;
 cursor: pointer;

}

.btn .input:hover {
  background-color: #ffffff;
  color: #65a591;
  border: 1px solid #65a591;
}

   /* ---------------------------------------------------------------------*/


   /*    FORMSTYLING
             - Formlabel nach unten verschoben
             - Border-Bottom #5a8e7d hinzugefügt
             - input type focus auf outline gesetzt

         */

   .form-group {
       position: relative;
       margin-bottom: 2.75em;
   }
   .input {
       font-size: 1em;
       display: block;
       width: 100%;
       padding: 10px 10px 10px 5px;
       border: none;
       border-bottom: 1px solid #5a8e7d;
       color: #333;
   }
   .input:focus {
       outline: none;
   }

    .form-group .error {
       font-size: 14px;
       color: #8e0000;
    }

    .form-group .invalid {
        border-color: #8e0000;
    }




/*---------------------------------------------------------------------------*/


   /*    LABELSTYLING
               - label gestyled
               - : focus wird nach oben verschoben

           */

   .label {
       font-size: 0.8em;
       font-weight: 300;
       letter-spacing: 0.5px;
       position: absolute;
       top: 10px;
       left: 5px;
       transition: all 0.5s ease;
       pointer-events: none;
       color: #b3b3b3;
   }

   /*Vorzeitiger Fix*/

   ::-webkit-input-placeholder {
      font-size: 0.8em;
      letter-spacing: 0.5px;
   }
   :-moz-placeholder {
      font-size: 0.8em;
      letter-spacing: 0.5px;

   }
   ::-moz-placeholder {
      font-size: 0.8em;
      letter-spacing: 0.5px;

   }
   :-ms-input-placeholder {
      font-size: 0.8em;
      letter-spacing: 0.5px;

   }
   .input:focus~ .label, .input:valid~ .label {
       font-size: 1.8vmin;
       top: -25px;
       color: #5a8e7d;
   }

   /*---------------------------------------------------------------------------*/


   /*    FORMBAR STYLING
                 - form-bar Farbe gegeben #5a8e7d
                 - transition hinzugefügt



           */

   .form-bar {
       position: relative;
       display: block;
       width: 100%;
   }
   .form-bar:before, .form-bar:after {
       position: absolute;
       bottom: 1px;
       width: 0;
       height: 2px;
       content: '';
       -webkit-transition: 0.5s ease all;
       transition: 0.5s ease all;
       background: #5a8e7d;
   }
   .form-bar_invalid:before, .form-bar_invalid:after{
     background: #5a8e7d;
   }
   .form-bar:before {
       left: 50%;
   }
   .form-bar:after {
       right: 50%;
   }
   .input:focus~ .form-bar:before, .input:focus~ .form-bar:after {
       width: 50%;
   }

   /*---------------------------------------------------------------------------*/


   /*    HIGHLIGHTER STYLING
                 - opacity hinzugefügt



           */

   .highlight {
       position: absolute;
       top: 25%;
       left: 0;
       width: 100%;
       height: 50%;
       pointer-events: none;
       opacity: 0.4;
   }
   .input:focus~ .highlight {
       -webkit-animation: inputHighlighter 0.2s ease;
       animation: inputHighlighter 0.2s ease;
   }
   @-webkit-keyframes inputHighlighter {
       from {
           background: #5a8e7d;
       }
       to {
           width: 0;
           background: transparent;
       }
   }
   @keyframes inputHighlighter {
       from {
           background: #5a8e7d;
       }
       to {
           width: 0;
           background: transparent;
       }
   }
   .textarea {
       font-size: 1em;
       display: block;
       width: 100%;
       padding: 10px 10px 10px 5px;
       border: none;
       border: 1px solid #5a8e7d;
   }
   .textarea:focus {
       outline: none;
   }
   .textarea:focus {
       font-size: 1em;
       top: -20px;
   }
   .textarea:focus~ .form-bar:before, .textarea:focus~ .form-bar:after {
       width: 50%;
   }


   /*textarea:focus ~.highlight {
     -webkit-animation: textareaHighlighter 0.2s ease;
             animation: textareaHighlighter 0.2s ease;
   }*/

   @-webkit-keyframes textareaHighlighter {
       from {
           background: #5a8e7d;
       }
       to {
           width: 0;
           background: transparent;
       }
   }
   @keyframes textareaHighlighter {
       from {
           background: #5a8e7d;
       }
       to {
           width: 0;
           background: transparent;
       }
   }
/*#############################################################
#############################################################

______ ____   ____ _______ ______ _____
|  ____/ __ \ / __ \__   __|  ____|  __ \
| |__ | |  | | |  | | | |  | |__  | |__) |
|  __|| |  | | |  | | | |  |  __| |  _  /
| |   | |__| | |__| | | |  | |____| | \ \
|_|    \____/ \____/  |_|  |______|_|  \_\


#############################################################
#############################################################*/
.footer_main h4 {
    padding: 1em 0em;
}
.footer_main {
    padding-top: 2em;
    height: 400px;
    background-color: #65a591;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    position: relative;
}
.links_footer {
    display: flex;
    justify-content: space-around;
}
.links_footer ul li a:hover {
    background-color: #fff;
    color: #65a591;
}
.links_footer ul li a {
    transition: all 0.5s ease-in-out;
    display: block;
    padding: 1em;
    min-width: 150px;
}
.copyright {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}


.active_footer {
    color: #486e5f;
    background-color: #fff;
}

/*---------------------------------------------*/


.impressum-p p {
    margin: 0;
}
.impressum-img {
    position: absolute;
    top: 200px;
    right: 50px;
    width: auto;
    height: 300px;
}

/*#############################################################
###############################################################

SHOP


#############################################################
#############################################################*/

.shop-categories {
    margin: 2em 0 ;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: center;
}


.shop-categories.fixed {
  position: fixed;
  top: 28px;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px #eee;

}
.shop-categories ul {
    display: flex;
    justify-content: center;

}
.shop-categories a {
  min-width: 140px;
    display: block;
    color: #b3b3b3;
    padding: 0.5em 2em;

}
.shop-categories a:hover {
    color: black;
}
.shop-categories a:active {
    color: black;
}
.line-wrapper_shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*####################
Abschluss
#####################*/

.order-confirmation {
    z-index: 0;
    height: 100vh;
    background-image: url(../img/parallax/studio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.order-confirmation h3 {
    text-align: center;
    font-size: 1.75vw;
    padding: 0;
    margin: 2vw;
}
.bg-wrapper {
    height: 60vh;
    padding: 5vw 10vw;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.bg-content-wrapper {
  padding: 2vw;
  width: 50%;
 height: 50%;
 overflow: visible;
 margin: auto;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}
.bg-wrapper p {
    text-align: center;
}

.bg-wrapper a {
  transition: all 0.2s ease-in-out;

}

.bg-wrapper a:hover {
  color: #5a8e7d;
}

/*############################

    Checkout

############################*/

.wrapper_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4em;
}

.wrapper_form_login {
  width: 35%;
}
.small-text {
    font-size: small;
}
h2.hl_checkout {
    font-size: 2vw;
    margin: 0 0 2em 0;
    text-transform: capitalize;
    text-align: center;
}

.shipping_form_wrapper{
  display: none;
}
.raidiobutton_wrapper_shipping{
  font-size: 1em;
  letter-spacing: 0.2px;
  transition: all 0.5s linear;
  font-weight: 300;
}

.billing-address, .shipping-address {
  width: 35%;
}

.form_checkout-sectionsheadline {
    font-weight: 500;
    margin-top: 2em;
}

.form_checkout_text-link {
    line-height: 2;
}
/*###########
Breadcrumbs
############*/

.breadcrumb_wrapper {
    display: flex;
    margin-top: 3vw;
    margin-right: 25px;
    justify-content: center;
}
.breadcrumbs {
    display: flex;
}
.number_wrapper, .text_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 0.6em;
    height: 1em;
}
.number_wrapper{
  width: 100%;
}
.text_a {
    display: inline;
    margin: 1vw 1vw;
}
.span-wrapper {
    display: flex;
}
.active_color {
    color: #5a8e7d;
}
.visited_color {
    color: #383838;
}
.future_color {
    color: #b3b3b3;
}

/* Kreise mit den Zahlen */

.number {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
    justify-content: center;
}
.line {
    width: 5vw;
    height: 1px;
    margin-top: 11px;
    border-top: 1px solid;
}
.line-rand {
    width: 5vw;
    height: 1px;
    margin-top: 11px;
    background-color: transparent;
}
.text {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text:hover{
  color: #5a8e7d;
}
.breadcrumb-item:hover .number {
    color: white;
    background-color: #5a8e7d;
}
.two-lines .text{
  display: flex;
  flex-wrap: wrap;
}
/*########
 weiter und zurück Button
 ########*/

.btn-wrapper_checkout {
    display: flex;
    width: 100%;
    margin-top: 4em;
    justify-content: flex-end;
}
.btn_checkout {
    margin: 20px;
}
.btn_checkout a, .btn_checkout  span{
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    padding: 10px 15px;
    transition: all 0.5s linear;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5a8e7d;
    border: 1px solid #5a8e7d;
}
.btn_checkout a:hover, .btn_checkout:hover span{
    color: white;
    background-color: #5a8e7d;
    cursor:pointer;
}

/*####################

Detailseite

####################*/

.wrapper_checkout-productdetail {
  display: flex;
  justify-content: space-between;
}

.wrapper_checkout-productdetail h2 {
  margin: 0 0 1em 0;
}

/* Allgemein */

.info-wrapper_detailansicht {
    width: 35vw;
}
.info-wrapper_detailansicht p {
    margin-bottom: 10px;
}
.headline-wrapper_detailansicht {
    display: flex;
    justify-content: space-between;
}

.headline-wrapper_detailansicht h2, .headline-wrapper_detailansicht h3 {
  padding: 0;
  margin: 0 0 1em 0;
}

/* BILDER */

.pictures_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}
.zoomed-picture img {
    width: 25vw;
    min-width: 220px;
}
.thumbs {
    display: flex;
    flex-direction: row;
    width: 25vw;
    min-width: 220px;
    justify-content: space-between;
}
.thumbs img {
    width: 8vw;
    min-width: 70px;
}

/* Farbe und Größe wählen: */

.selects {
    display: flex;
    align-items: baseline;
    padding: 1em 0;
}
.color, .size {
    width: 30px;
    height: 30px;
    margin: 10px;
    font-weight: 200;
}

.size {
  line-height: 30px;
}

.size-out {
    width: 25px;
    height: 20px;
    margin: 10px;
    opacity:0.3;
}

.size-selected {
    background:#5a8e7d;
    color: white;
}

.fa-ban {
    color:#8e0000 !important;
}

/* COLORPICKER */

.color:hover, .size:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}
.colorpicker-white {
    border: 1px solid #b3b3b3;
    background-color: white;
}
.colorpicker-black {
    background-color: black;
}
.colorpicker-red {
    background-color: #7a3b51;
}

/* Mengenauswahl */

.quantity_wrapper {
    display: flex;
    width: 50px;
    border: 1px solid #b3b3b3;
    justify-content: space-around;
}
#down {
    font-weight: 600;
    margin-left: 2px;
}
#up {
    font-weight: 600;
    margin-right: 2px;
}
.quantity {
    width: 30px;
    text-align: center;
    border: 0 solid;
    background-color: transparent;
}
.quantity_big-wrapper {
    display: flex;
    padding: 1em 0;
}
.quantity_big-wrapper label {
    margin-right: 10px;
}

/*################################

Warenkorb

################################*/

.wrapper_card {
    width: 100%;
    margin-top: 80px;
}

/* Überschriften im card */

.card-header {
    font-size: 0.9em;
    display: flex;
    border: 1px solid #dfe0e2;
    background-color: #f6f7f9;
    justify-content: space-around;
  }
.card-header li {
    padding: 1vw 0;
}

.card-header li:first-child {
  text-indent: 13%;
}
.description {
    flex-basis: 58%;
}
.actions {
    flex-basis: 10%;
}
.actions_price {
    flex-basis: 15%;
}

/* items */

.card-item {
    display: flex;
    border: 1px solid #dfe0e2;
    border-top: none;
    justify-content: space-between;
}

/* Bild */

.img_card {
    width: 10vw;
    height: 100%;
    margin: auto;
}




/* Name + Beschreibung vom Artikel */

.description_card-item {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: center;
    justify-content: center;

}
.description_card-item li {
    width: 30vw;
}
.description_card-item li:first-child {
    margin: 0.6em 0;
}
.description_card-item li:last-child {
    font-size: small;
    margin: 0 0 0.6em;
    line-height: 1.4;

}

/* Menge, Farbe, Größe und Preis */

.actions_card-item {
    font-size: 1vw;
    display: flex;
    flex-basis: 48%;
    justify-content: space-around;
}
.actions_card-item li, .price_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 34%;
}
.farbe {
    text-align: center;
}
.price_wrapper {
  font-size: 1.2vmax;
  text-align: center;
  flex-basis: 20%;
}


@media screen and (max-width: 1200px) {
  .price_wrapper, .actions_card-item, .description_card-item li:last-child {
    font-size: 1.2vmax;
  }
  .description_card-item li:first-child {
    font-size: 1.6vmax;
  }
}

@media screen and (max-width: 875px) {
  .price_wrapper, .actions_card-item, .description_card-item li:last-child {
    font-size: 1.3vmax;
  }
  .description_card-item li:first-child {
    font-size: 1.6vmax;
  }
  .card-header {
    font-size: 1.6vmax;
  }
}
/* Wenn das Produkt bearbeitet wird*/

.actions_card-item.edit-show {
  /*display: flex;*/
}

/* X zum löschen vom produkt */

.delete_wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 0;
}
.delete_wrapper {

    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.edit-show {
    display:none;
}
.no-size{
  display: none !important;
}
.delete, .edit {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.delete {
    //background-image: url('../img/icons/close.svg');
}
.edit {
    margin-right: 5px;
    //background-image: url('../img/icons/wrench75.svg');
}
.edit i, .delete i{
   color:#65a591;
    font-size:16px;
}

.delete i:hover, .edit i:hover{
    color:#5a8e7d;
    font-size:16px;
}
/*I.      #65a591
II.     #5a8e7d
III.     #486e5f*/
.small_delete, .small_edit {
    width: 15px;
    height: 15px;
}

/* Summe mit lieferdatum und Versandkosten */

.sum_card_wrapper {
    display: flex;
    width: 100%;
    margin-top: 1.8vw;
    justify-content: space-between;
}

.versand-datum li {
    margin-bottom: 1vw;
    text-align: left;
    font-weight: 300;
}
.sum_card h5 {
  margin: 0.5vw;
  letter-spacing: 1.2px;
  text-transform: uppercase;

}
.versand-datum h5, .sum_card h5 {
  font-size: 1.5vw;
  color: #5a8e7d;
  font-weight: 400;
}

.sum_card li {
    display: flex;
    margin-bottom: 1vw;
    justify-content: flex-end;
    align-items: center;
}

/*#######################
Anmelden
#######################*/

.form-group_alsGast {
    margin-bottom: 40px;
}
.form_checkout-text {
    margin-top: 30px;
}

/*######################
Adressen
#######################*/

.form_checkout .btn_big-checkout, .btn_big-checkout_profile{
    width: 100%;
    margin: 0;
    transition: all 0.5s linear;
    color: #5a8e7d;
    border: 1px solid #5a8e7d;
    background-color: white;
}
 .form_checkout .btn_big-checkout:hover, .btn_big-checkout_profile:hover{
    color: white;
    background-color: #5a8e7d;
}
.form_checkout_link:hover {
    color: #5a8e7d;
}

/*####################
Versand
#####################*/

.wrapper_shipping-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4vw 0;
}

.radiobutton_wrapper {
    display: flex;
    align-items: center;
}
.radiobutton {
    width: 30px;
    height: 16px;
}
.shipping-info {
    width: 40vw;
}
.form_cuopon {
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-content: flex-start;
}
.form_cuopon form {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
}
.form_cuopon .form-group {
    margin-top: 40px;
    margin-bottom: 10px;
}
.form_cuopon input {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
}

/*#################
Zusammenfassung
##################*/

.wrapper-order-sum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-form-order-sum {
    margin: 4em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.form_confirmation {
  width: 100%;
}

.form_confirmation_content {
    margin-top: 4em;
    width: 100%;
}
.form_confirmation_content input {
    width: 30px;

}

.form_checkout {
    width: 100%;
    min-width: 40%;
    max-width: 600px;

}

/*#################
Abschluss
#################*/

.btn-wrapper_abschluss {
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn_special {

    margin: 0 2em;

}

.btn_special a {
  font-size: 1vw;
  white-space: nowrap;
    border: 1px solid #fff;
    padding: 1vw 2vw;
    display: block;
    max-width: 250px;
    min-width: 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 200;
    transition: all 0.4s ease-in-out;
}

.btn_special a:hover {
    color: #fff;
    border-color: #65a591;
    background-color: #65a591;
}

/*#####################
Registrieren
#####################*/

.wrapper_register {
  display: flex;
  justify-content: space-around;
}

.form-register {
    width: 500px;
    margin: 0 auto;
}
.radio_datenschutz {
    display: flex;
    align-items: baseline;
}
.input_dateschutz {
    width: 15px;
}

p.pflichtfeld {
    font-size: small;
    margin-top: 20px;
}

/*###########
____            _____  _  __ ______  _   _  _____
|  _ \    /\    / ____|| |/ /|  ____|| \ | ||  __ \
| |_) |  /  \  | |     | ' / | |__   |  \| || |  | |
|  _ <  / /\ \ | |     |  <  |  __|  | . ` || |  | |
| |_) |/ ____ \| |____ | . \ | |____ | |\  || |__| |
|____//_/    \_\\_____||_|\_\|______||_| \_||_____/


####################*/

.header_backend {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #363636;
    justify-content: space-between;
    align-items: center;
}
.nav_header_backend {
    display: flex;
    align-items: center;
}
.nav_header_backend li {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-transform: uppercase;
    justify-content: center;
    color: #FFFFFF;
}

.nav_header_backend a {
    height: 100%;
    padding: 1em 2em;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
}
.nav_header_backend li:last-child a {
  padding: 0.5em 0.5em;
}
.nav_header_backend li:last-child:hover a .logout{
  color: #FFFFFF;

}

.nav_header_backend a:hover {
    background-color: #5a8e7d;
}
.nav_header_backend li:last-child a:hover{
  background-color: transparent;
}

/* zentriert das Logo */


/*.logo {
  margin: 0;
}*/

.logo_wrapper {
    display: flex;
    width: 180px;
    justify-content: center;
}
.backend_wrapper {
    display: flex;
    /*width: 100vw;*/
    height:100%;
    min-height: calc(100vh - 60px);
}
.hl_form_backend {
    font-size: 1.25em;
    font-weight: 200;
    padding: 1em 0.5em;
    text-transform: capitalize;
}

/* Backend Flyout */

/*.nav_backend li {
    white-space: nowrap;
    background: #363636;
}
.nav_backend li:hover {
    transition: all 0.2s ease-in-out;
    background: #5a8e7d;
}
.nav_backend a {
    width: 150px;
    padding: 20px;
    color: #fff;
}
.nav_backend ul li.hover, .nav_backend ul li:hover {
    position: relative;
    z-index: 200;
}
.nav_backend ul ul {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    visibility: hidden;
}
.nav_backend ul li:hover> ul {
    visibility: visible;
}
.nav_backend ul ul {
    font-size: 0.9vw;
    top: 0;
    left: 100%;
}
.nav_backend span, .nav_backend a {
    font-size: 1vw;
    display: inline-block;
    text-align: center;
}*/

/*--------------- FLYOUT END -------------*/

.body_backend, .html_backend {
    padding: 0;
    margin: 0;
}
.body_backend{
  min-height: 100vh;
}

.nav_backend {
    font-size: 0.9em;
    font-weight: 300;
    min-width: 200px;
    letter-spacing: 0.5px;
    background-color: #363636;
}
.body_backend .notification {
    background-color: #65a591;
    color: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position:absolute;
    display:none;
    top:0;
    width:100%;
    z-index:999;

}
.nav_backend .sidebar{
   margin-top:3.3em;
}


.nav_backend li {

    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    border-bottom: 1px solid #414247;
}

.nav_backend li p:hover, .nav_backend li ul.sub_menu li p:hover{
    background-color:#2B2B30;
    transition: all 0.2s ease-in-out;

}
.nav_backend li p, i {
    color: #eee;
}
.nav_backend .sidebar li .active, .nav_backend li ul.sub_menu li .active{
    border-right:5px solid #65a591;
}


.nav_backend li p {
    height:40px;
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 13px 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height:21px;
    cursor:pointer;
}
.nav_backend li i {
    font-size: 16px;
    margin-right: 5px;
    line-height: 14px;
    width:1.4em;
}

.nav_backend li .title {
    font-size: 14px;
    font-weight: 300;
}
.nav_backend li p .arrow:before {
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color:#eee !important
}

.nav_backend  li  p  .arrow.open:before {
    float: right;
    margin-top: 0px;
    margin-right: 3px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;

}
.nav_backend li ul.sub_menu {
    display:none;
}
.nav_backend li ul.sub_menu li:first-child {
    border-top: 0px !important;
}
.nav_backend li ul.sub_menu li {
    background: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}
.nav_backend li ul.sub_menu li p {
    display: block;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 35px !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
    line-height:28px;
}
/*
.nav_backend ul {
    padding-top: 20px;
}
.nav_backend li {
    border-bottom: 1px solid #515151;
}
.nav_backend a {
    display: flex;
    width: 100%;
    padding: 15px;
    padding-right: 10px;
    transition: all 0.4s linear;
    color: white;
}
.icon {
    width: 15px;
    height: 15px;
}
.text-wrapper {
    margin-left: 10px;
}
.nav_backend a:hover {
    background-color: #5a8e7d;
}*/
.content-wrapper_backend {
    width: 100%;
    padding: 1.5em;
}
.main-hl_backend {
    display: flex;
    margin-bottom: 1em;
    padding: 0;
    justify-content: flex-start;
    font-weight: 300;
    color: #666;
}

.page-bar {
    border: 0;
    padding: 0px;
    background-color: #eee;
    margin-bottom: 25px;
    margin-left: -23px;
    margin-right: -20px;
    padding-left: 10px;
    padding-right: 20px;
}

.page-breadcrumb {
    display:flex;
    padding: 10px;

}

.page-breadcrumb li span{
   cursor:pointer;
}

.page-breadcrumb li i {
    padding:0 8px;
}

.page-bar i {
    color: #999;
    font-size: 14px;
    text-shadow: none;
}


.table_backend {
    border: 1px solid #dddddd;
    margin-top:30px;
    width:99%;
    margin-bottom: 2em;
    margin: 2em 0;
    border-spacing: 0.5rem;
    border-collapse: collapse;
}
.dashboard_table_wrapper{
  float: left;
  width:45%;
  min-width: 510px;
}
.dashboard_table_wrapper h3{
  display: inline-block;
  margin-left: 10px;

}
.table_dashboard {
  width: calc(100% - 20px);
  margin: 10px 10px;
}
.table_backend th, .table_backend td {
    font-size: 0.8em;
    padding: 6px 5px 6px;
}
.table_backend.table_dashboard td{
  font-size: 11px;
}
.table_backend th {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    height:40px;
}
.dashboard_table_wrapper .table_backend th {
  font-size: 10px;
}
.table_backend th:last-child{
  width: 70px;
}
.table_backend th p{
    cursor:pointer;
    font-weight:400;
    line-height: 1.3em;
}
.table_backend td {
    font-weight: 300;
}
.table_backend td:last-child {
    width: 70px;
}
/*wozu???? cg 27.07*/
/*.table_backend td:nth-child(5) {
    color: transparent;

}*/
.table_backend tr:nth-child(2n) {
    background-color: #f5f5f5;
}

.table_backend tr {
    border: 1px solid #dddddd;
    height:40px;
}

.content-wrapper_backend .fa-chevron-right {
    padding: 10px 14px 11px 13px;
}

.content-wrapper_backend .fa-chevron-left {
    padding: 10px 14px 11px 13px !important;
}

.dashboard_tnames {
    margin-left: 30px;
    width: 45%;
    border: 1px solid #eee;
    padding: 10px;
}

.btn_table, .btn_backend {
    color: #fff;
    background-color: #65a591;
    border-color: #65a591;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn_table:hover, .btn_backend:hover{
  background-color: #5a8e7d;
  border-color: #5a8e7d;
}


/*zero entries message when loading table*/
.content-wrapper_backend .zero-entries {
    text-align: center;
    font-weight: 400;
}
/*pagination*/
.pagination {
    padding: 10px 15px;
    border-color: #dddddd;
    color:black;
    background-color:#ddd;
    margin:0px 1px;
    cursor:pointer;
}

.pagination:hover{
  border-color: #cecece;
  background-color:#cecece;
}

.current {
    background:#65a591;
    color:white;
}
.current:hover {
    background:#65a591;
}

.wrapper-form-backend {
    width: 80vw;
    margin: auto;
}


.radiobutton_wrapper_backend {
  padding: 0 1em;
  margin: 1.3em 0;

}

.form_backend {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.form_backend .form-group_backend{

  flex-basis: 30%;
}


.form-group_backend {
  margin: 1em;
}

.form-group_backend:nth-child(5) {
  display: flex;
  align-items: center;
}

.form-group_backend  #male, .form-group_backend #female {
  flex-basis: 4%;
  margin-left: 1em;
}


.btn_backend {
  flex-basis: 100%;
  transition: all 0.3s linear;
  text-transform: uppercase;
  margin: 1em 0;
}

/*.form-group_backend:nth-child(n+8) {
  flex-basis: 100%;
}*/



.label_backend {
  width: auto;
  font-size: 1em;
  margin: 0.5em 0;
  font-weight: 300;
}

.form-group_backend input[type] {
    background-color: #65a591;
    color: white;
    margin: 0.5em 0;
}

.label_backend:after {
  content: ": "
}

.form-group_backend input {
  width: 100%;
  padding: 0.5em;
  border: none;
  font-size: 0.8em;
  font-weight: 200;
}


.form-group_backend input[type=radio] {
  width: 15%;
  margin: 0 2em;
}




/*#######################
pie chart
#######################*/

.pie-chart_wrapper {
    display: flex;
    justify-content: center;
}
.pie-chart_hl {
    text-align: left;
}

/* Profile page */
.wrapper_profile{
  padding: 2em;
}
.profile_section{
  margin-bottom: 2em;
}
.profile_section div{
  font-weight: 200;
}
.profile_section h4{
  font-weight: 400;
}
.profile_main-hl{
  padding: 5em 0 2em;
}
.profile_info_label{
  width: 195px;
  margin: 5px 0;
}
div.profile_shop_link{
  margin: 15px 0;
  font-weight: 300;
  cursor: pointer;

}
div.profile_shop_link:hover, a.profile_shop_link:hover{
  color: #5a8e7d;
}

.profile_info_value{
  width: 88%;
  max-width: calc(100% - 201px);
  text-align: left;
}
.profile_info_value, .profile_info_label{
  display: inline-block;
  font-size: 14px;
}
/*.profile_info_wrapper{
  display:flex;
  justify-content: space-between;
}*/
.confirm, .deny{
  margin-top: 10px;
  display: inline-block;
}
.confirm:hover, .deny:hover{
  color: #5a8e7d;
cursor: pointer;
}

.pencil_frontend{
  color: #5a8e7d;
  cursor: pointer;
}
.pencil_frontend:hover{
  color:#486e5f;
}
.profile_sub-hl{
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
.send_password_message{
  display: none;
}
.user_info_change_wrapper{
  display:none;
}
.form_profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  width: 500px;
  max-width: 90vw;
}
.form_profile_innerwrapper{
  width: 200px;
}
.form_profile input{
  padding: 5px 10px 0px 3px;
  width: 200px;
}
.form_profile label{
  top: -15px !important;
}
.form_profile label.geb-label{
  top: -9px !important;
}
.form_profile .highlight .form_profile .form-bar{
  width: 200px ;
}
.profile_form_button_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile_form_button_wrapper .btn_big-checkout_profile{
  width: 200px;
  padding: 4px;
  text-align: center;
}
.btn_big-checkout_profile div{
  font-weight: 300;
  cursor: pointer;
}
.form_profile input.geb-input{
  margin-top: -5px;
  padding: 5px 10px 0px 3px;
}
.radiobutton_wrapper, .radiobutton_hl{
  line-height: normal;
  text-align: left;
}
.radiobutton_hl{
  padding-top: 8px;
}
.radiobutton_hl_payment{
  padding-top: 14px;
}
.form_profile input.radiobutton{
  width: 30px;
}
.email_was_send{
  display: none;
}
.profile-email:hover, .empty_cart a:hover{
  color:#5a8e7d;
}

.profile_error_message_user, .profile_success_message_user, .profile_error_message_password{
  display: none;
  margin-bottom: 10px;
}

.empty_cart{
  margin-top: 4em;
}


.breadcrumbs i{
  color: #5a8e7d;
}
.breadcrumbs i:last-child{
  display: none;
}
.error_detailansicht, .error_message_checkout{
  max-width: 75vw;
  color: #b50101;
  font-size: 1em;
  text-align: center;
  padding: 0 0 1em 0;
  margin: 0 auto;
}
.error_detailansicht a:hover, .error_message_checkout:hover{
  color: #8e0000;
}
.errormessage_detail_wrapper{
  display: none;
  position: absolute;
  top:75px;
  left:0;
  width: 100%;
}
.crumb-current span{
  color: #5a8e7d;
}
.profile_shop_link_wrapper_register{
  margin-top: 20px;
}
#up, #down, .edit, .delete{
  cursor: pointer;
}
