# Ignore Mac DS_Store files
.DS_Store


# Ignore from PHP Storm
.idea


# Ignore DB Connect
db-connect.php


# Ignore node_modules
node_modules/


# Ignore GULP-FINISH
GULP_FINISH/

# Ignore develop
develop/

# Ignore SQL
.sql
