/* CSSTerm.com Flyout CSS menu */


/*BASE*/
.nav_backend {
	font-weight: 600;
	width: 200px; }

.nav_backend ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*-------------------*/


.nav_backend ul li.hover,
.nav_backend ul li:hover {
	position: relative; z-index: 599;
}

.nav_backend ul ul{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
}

.nav_backend ul li:hover > ul { visibility: visible; }

.nav_backend ul ul { top: 0; left: 100%; }

.nav_backend span, .nav_backend a {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; }

.nav_backend li { background: #005555; }
.nav_backend li:hover, .nav_backend li.active { background: #5FD367; }

.nav_backend a {
    color: #FFF;
    line-height: 160%;
    padding: 16px 8px 16px 28px;
    width: 164px; }
